# Dependencies
node_modules/

# Next.js
.next/
out/

# Build
dist/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Lock files
yarn.lock
pnpm-lock.yaml

_pagefind
